body {
  margin: 0 auto;
  padding: 15px;
  font-size: calc(1.25rem + 0.5vw);
  text-align: center;
}

h1 {
  margin-top: 0;
}

button {
  font-size: calc(1rem + 0.5vw);
  margin-top: 2rem;
}

ol {
  text-align: left;
}
