body {
  margin: 0 auto;
  max-width: 50rem;
  padding: 15px;
  font-size: calc(1.25rem + 0.5vw);
  text-align: center;
}

h1 {
  margin-top: 0;
  font-family: fantasy;
}

button {
  font-size: inherit;
  font-family: inherit;
  margin: 2rem 0;
}

input {
  font-size: inherit;
  font-family: inherit;
}

ol, ul {
  text-align: left;
}

.hidden {
  display: none;
}