@font-face {
  font-family: "Beachman Script";
  src: url("fonts/BeachmanScript.woff2") format("woff2"),
    url("fonts/BeachmanScript.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
