/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  /* Force scrollbar */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  font-weight: 400;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

form,
button,
input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: inherit;
}

button:hover,
button:focus {
  cursor: pointer;
}

/* Correct the inheritance and scaling of font size in all browsers */
pre,
code,
kbd,
samp {
  font-family: ui-monospace, monospace;
}

/* Add the correct font weight in Chrome, Edge, and Safari */
b,
strong {
  font-weight: bolder;
}
