/* Utilities */
.grid {
  display: grid;
}

.hidden {
  display: none;
}

.no-style {
  list-style-type: none;
  padding: 0;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.box-shadow {
  box-shadow: var(--box-shadow);
}

.visually-hidden {
  position: absolute;
  translate: -1000%;
}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: #c5c5c5;
  border-radius: 5px;
}
