@import "_reset.css";
@import "_fonts.css";
@import "_utilities.css";

/* https://sarajoy.dev/blog/color-scheme/ */
:root {
  color-scheme: light dark;
}

/* When you use color-scheme above, it doesn't seem to account for :focus-visible in  dark mode. */
@media (prefers-color-scheme: dark) {
  :focus-visible {
    outline-style: solid;
    outline-width: 2px;
    outline-color: white;
    border-radius: 2px;
  }
}

/* Ensures consistent background color even when the "curtain comes up" */
html {
  background-color: Canvas;
  color: CanvasText;
}

body {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
  font-family: "EB Garamond", serif;
}

main {
  font-size: 1.25rem;
}

nav {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

h1 {
  font-family: "Beachman Script", serif;
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
}

a {
  font-variant: small-caps;
  text-underline-offset: 0.2em;
  /* color: #2754d8; */
}
