@import url("_reset.css");

body {
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem;
  font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
    serif;
  font-weight: normal;
}

main {
  display: grid;
  gap: 1rem;
}

h1,
h2,
h3 {
  text-align: center;
  font-variant: small-caps;
}

section {
  border: 1px solid;
  padding: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

details {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: grey;
  padding-bottom: 1rem;
}

details input {
  /* For some reason, margin seems to render between buttons and inputs automatically, except here */
  margin-right: 0.3rem;
}

details ul {
  display: grid;
  gap: 1rem;
}

summary {
  margin: 1rem 0;
  cursor: pointer;
}

footer {
  font-size: 1rem;
  margin-top: 3rem;
}

footer p {
  margin-bottom: 0;
}

#new-list-section ul {
  list-style-type: none;
  padding: 0;
}

#new-list li,
#list-of-lists li {
  display: flex;
  gap: 1rem;
}

#save-new-list {
  float: right;
}

#list-of-lists {
  gap: 1rem;
}

#list-of-lists ul {
  margin: 1rem 0;
}

#form-list-container {
  gap: 1rem;
}

#generator-form div {
  margin: 1rem 0;
}

#rendered-lists {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#rendered-lists ul {
  margin: 0;
}

/* Select the first ul in #rendered-lists */
#rendered-lists ul:first-child {
  text-align: right;
}

/* Select the first li in child uls */
#rendered-lists div {
  /* Your CSS styles here */
  font-variant: small-caps;
  font-weight: 900;
}

#rendered-lists ul {
  list-style-type: none;
  padding: 0;
}

/* Utilities */
.grid {
  display: grid;
}

.hidden {
  display: none;
}

.no-style {
  list-style-type: none;
  padding: 0;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}
