@import url("_reset.css");

body {
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.25rem;
}

main {
  display: grid;
  gap: 1rem;
}

section {
  border: 1px solid;
  padding: 1rem;
}

details input {
  /* For some reason, margin seems to render between buttons and inputs automatically, except here */
  margin-right: 0.3rem;
}

footer {
  font-size: 1rem;
  margin-top: 3rem;
}

footer p {
  margin-bottom: 0;
}

#new-list-section ul {
  list-style-type: none;
  padding: 0;
}

#new-list li {
  display: flex;
  justify-content: space-between;
}

#form-list-container {
  gap: 1rem;
}

#rendered-lists {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

#rendered-lists ul:first-child {
  text-align: right;
}

#rendered-lists ul {
  list-style-type: none;
  padding: 0;
}

/* Utilities */
.grid {
  display: grid;
}

.hidden {
  display: none;
}

.no-style {
  list-style-type: none;
  padding: 0;
}
