@import url("_reset.css");
@import url("_utilities.css");

body {
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem;
  font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
    serif;
  font-size: 1.25rem;
}

main {
  display: grid;
  gap: 1rem;
}

h1,
h2,
h3 {
  text-align: center;
  font-variant: small-caps;
}

section {
  border-style: solid;
  border-width: 1px;
  border-color: #c5c5c5;
  border-radius: 5px;
  padding: 1rem;
  display: grid;
}

ul {
  padding: 0;
}

select {
  cursor: pointer;
  padding: 0.75rem;
  font: inherit;
}

details {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: grey;
  padding-bottom: 1rem;
}

details input {
  /* It won't grow on it's own if this isn't set explicitly. */
  width: 100%;
}

details ul {
  display: grid;
  gap: 1rem;
}

form {
  display: grid;
  gap: 1rem;
}

input {
  padding: 0.75rem;
  font: inherit;
}

button {
  background-color: green;
  color: white;
  border: none;
  padding: 0.75rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  font: inherit;
  transition: 0.25s;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: green;
  border-color: green;
}

.delete {
  background-color: red;
  color: white;
  padding: 0.25rem;
  font-size: 1rem;
}

.delete:hover {
  color: red;
  border-color: red;
}

.delete.list {
  width: 100%;
  padding: 0.75rem;
  font-size: inherit;
}

summary {
  margin: 1rem 0;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}

footer {
  font-size: 1rem;
  margin-top: 3rem;
}

footer p {
  margin-bottom: 0;
}

#new-list li,
#list-of-lists li {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#save-new-list {
  float: right;
}

#list-of-lists {
  gap: 1rem;
}

#list-of-lists ul {
  margin: 1rem 0;
}

#form-list-container {
  gap: 1rem;
}

#generator-form div {
  margin: 1rem 0;
}

#rendered-lists {
  /* display: flex; */
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

#rendered-lists ul {
  margin: 0;
}

/* Select the first ul in #rendered-lists */
#rendered-lists ul:first-child {
  text-align: right;
}

/* Select the first li in child uls */
#rendered-lists div {
  /* Your CSS styles here */
  font-variant: small-caps;
  font-weight: 900;
}

#rendered-lists ul {
  list-style-type: none;
  padding: 0;
}
